<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ChatDao">
  
  <resultMap type="chat" id="chatMap">
    <id column="cNo"    property="cNo"/>
    <result column="wNo"    property="wNo"/>
    <result column="gChatCode"    property="gChatCode"/>
    <result column="cContent"    property="cContent"/>
    <result column="cName"  property="cName"/>
    <result column="cDate"    property="cDate"/>
  </resultMap>

  <select id="find" resultMap="chatMap">
    select 
	    cNo, 
	    wNo,
	    gChatCode,
	    cContent,
	    wNo, 
	    cDate
    from 
      cms_chat
  </select>

</mapper>






