<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="TListDao">
  
  <resultMap type="tList" id="tListMap">
    <id column="tCode"           property="tCode"/>
    <result column="crNo"    property="crNo"/>
    <result column="tName"    property="tName"/>
  </resultMap>

  <select id="find" resultMap="tListMap">
    select 
      tCode,
      crNo, 
      tName
    from 
      cms_tList
  </select>

  <insert id="insert" parameterType="tList">
      insert into cms_tList(tCode, crNo, tName)
      values(#{tCode}, #{crNo}, #{tName})
  </insert>

  <update id="update" parameterType="tList">
    update cms_tList set 
      tCode = #{tCode},
      crNo = #{crNo},
      tName = #{tName}
    where tCode = #{tCode}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from cms_tList
    where tCode=#{tCode}
  </delete>
</mapper>
