<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
  <title>hello</title>
</head>


<div layout:fragment="content">
  <div class="container">
  <form action="update" method="post">
    <input type='hidden' name='no' th:value="${board.no}"><br>
    <input class="input is-large" type="text" placeholder="제목" name="title" th:value="${board.title}">
    <p th:text="|작성자: ${board.content}|">작성자</p>
    <p th:text="|등록일: ${board.registrationDate}|">등록일</p>
    <p th:text="|조회수: ${board.viewCount}|">조회수</p>
    <div class="field">
      <div class="control">
        <textarea class="textarea is-large" placeholder="내용" th:text="${board.content}" ></textarea>
      </div>
    </div>
    <input type="hidden" name="categoryNo" th:value="${board.category.no}">

    <button class="button">변경</button>
  </form>
  <a th:href="|delete?no=${board.no}|" class="button">삭제</a>
  <a class="button" href='list'>목록</a>

</div>
  <div th:include="comment/list"></div>
</div>

</html>