<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
  <head>

    <meta charset="UTF-8">
    <title>calendar</title>

  </head>

  <!-- 페이지의 개별적인 css -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
  </th:block>

  <div layout:fragment="content">
    <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
  <script>
    var Calendar = tui.Calendar;
    var calendar = new Calendar('#calendar', {
  defaultView: 'month',
  taskView: true,
  template: {
    monthDayname: function(dayname) {
      return '<span class="calendar-week-dayname-name">' + dayname.label + '</span>';
    },
    popupStateFree: function() {
      return '내 일정';
    },
    popupStateBusy: function() {
      return '회사 일정';
    }
  },
  useCreationPopup: true,
  useDetailPopup: true
});
calendar.render();
</script>

    <script th:inline="javascript">
        /*[# th:each="c : ${list}"]*/
calendar.createSchedules([
  {
    id: /*[[${c.calCode}]]*/,
    calendarId: 'default',
    title: /*[[${c.title}]]*/,
    category: 'time',
    start: /*[[${c.sdt}]]*/,
    end: /*[[${c.edt}]]*/
  }
]);
        /*[/]*/

    </script>
  <!-- 달력 -->
    <button class="prevButton">이전</button>
    <button class="nextButton">이후</button>
  <div id="calendar"></div>

    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

    <script>
    var prevButton = document.querySelector("button.prevButton");
    var nextButton = document.querySelector("button.nextButton");

    prevButton.onclick = function() {
      calendar.prev();
     };
    nextButton.onclick = function() {
      calendar.next();
    };

    calendar.on('beforeCreateSchedule', scheduleData => {
      calendar.createSchedules([{
      title: scheduleData.title,
      calendarId: 'default',
      category: 'time',
      start: scheduleData.start,
      end: scheduleData.end
    }]);

      $.ajax({
        type: "POST",
        url: "/calendar/add",
        data: {
          title: scheduleData.title,
          place: scheduleData.location,
          sdtMillis: scheduleData.start.getUTCTime(),
          edtMillis: scheduleData.end.getUTCTime(),
          auth: scheduleData.state = '내 일정' ? 1 : 0,
          status: 1
        }
      });
    });

    calendar.on('beforeUpdateSchedule', event => {
      var {schedule, changes} = event;
      changes.calendarId = 'default';
      calendar.updateSchedule(schedule.id, schedule.calendarId, changes);
      var updatedSchedule = calendar.getSchedule(schedule.id, 'default');

      $.ajax({
        type: "POST",
        url: "/calendar/update",
        data: {
          calCode: updatedSchedule.id,
          title: updatedSchedule.title,
          place: updatedSchedule.location,
          sdtMillis: updatedSchedule.start.getUTCTime(),
          edtMillis: updatedSchedule.end.getUTCTime(),
          auth: updatedSchedule.state = '내 일정' ? 1 : 0,
          status: 1
        }
      });
    });

    calendar.on('beforeDeleteSchedule', scheduleData => {
      const {schedule} = scheduleData;

      $.ajax({
        type: "POST",
        url: "/calendar/delete",
        data: {
          calCode: schedule.id,
        }
      });

      calendar.deleteSchedule(schedule.id, schedule.calendarId);
    });
    </script>
    </div>
</html>
