<!DOCTYPE html>
<html lang="ko"
  xmlns:th="http://www.thymeleaf.org">


  <header th:fragment="headerFragment">

    <link href="header.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">

<div>
    <figure class="container mt-5">하이워크</figure>
</div>



  </header>

</html>